body {background-color: #A2CDF7;
font-family: sans-serif;
color: #FFFFFF;}

h1 {color: #204D74;
margin-left: 20px;}

#wrapper {font-family: sans-serf;
font-size:	15px;
background-color: #81AACE;}

.mainFooter {font-size:	19px;
color: black;}

p {font-size: 16px;
color: #000000;
margin-left: 50px;
font-weight: bold;}

* {box-sizing: border-box;}
header, nav, main, footer {display: block;}
    
ul, a:visited {color: #204D74;}

h2 {color:#000000;
margin-left:25px;}